body {
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
}

input {
  border-radius: 7.5px;
  border-style: solid;
  border-color: lightgrey;
}

img {
  margin: 25px 25px;
}

@media (min-width: 430px) {
  .container {
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 430px;
  }

  input {
    height: 35px;
    width: 200px;
  }
}

@media (min-width: 500px) {
  .container {
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
  }

  input {
    height: 35px;
    width: 225px;
  }
}

@media (min-width: 700px) {
  .container {
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;
  }

  input {
    height: 35px;
    width: 250px;
  }
}

@media (min-width: 950px) {
  .container {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    width: 950px;
  }

  input {
    height: 35px;
    width: 300px;
  }
}

@media (min-width: 1100px) {
  .container {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    width: 1100px;
  }

  input {
    height: 35px;
    width: 470px;
  }
}

/*Responsive design for the lightbox captions*/

@media (min-width: 430px) {
  .mfp-title {
    text-align: center;
    color: lightblue;
    font-size: 1.2em;
  }
}

@media (min-width: 950px) {
  .mfp-title {
    font-size: 1.25em;
  }
}
